#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  /* padding: 2em; */
  width: 80%;
  margin-left: 8em;
  margin-bottom: 1em;
}

.container {
  padding: 2em;
  background-color: rgb(245, 182, 228);
  border: solid;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px 0;
  text-align: center;
} 

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}


* {
  text-decoration: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 1.2em;
  font-style: italic;
}